@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.625rem;

  --background: rgb(255, 255, 255);
  --foreground: rgb(38, 38, 38);

  --card: rgb(255, 255, 255);
  --card-foreground: rgb(38, 38, 38);

  --popover: rgb(255, 255, 255);
  --popover-foreground: rgb(38, 38, 38);

  --primary: rgb(77, 77, 77);
  --primary-foreground: rgb(251, 251, 251);

  --secondary: rgb(247, 247, 247);
  --secondary-foreground: rgb(77, 77, 77);

  --muted: rgb(247, 247, 247);
  --muted-foreground: rgb(142, 142, 142);

  --accent: rgb(247, 247, 247);
  --accent-foreground: rgb(77, 77, 77);

  --destructive: rgb(193, 62, 39);

  --border: rgb(235, 235, 235);
  --input: rgb(235, 235, 235);
  --ring: rgb(180, 180, 180);

  --chart-1: rgb(255, 165, 0);
  --chart-2: rgb(30, 144, 255);
  --chart-3: rgb(65, 105, 225);
  --chart-4: rgb(255, 223, 0);
  --chart-5: rgb(255, 200, 0);

  --sidebar: rgb(251, 251, 251);
  --sidebar-foreground: rgb(38, 38, 38);

  --sidebar-primary: rgb(77, 77, 77);
  --sidebar-primary-foreground: rgb(251, 251, 251);

  --sidebar-accent: rgb(247, 247, 247);
  --sidebar-accent-foreground: rgb(77, 77, 77);

  --sidebar-border: rgb(235, 235, 235);
  --sidebar-ring: rgb(180, 180, 180);
}

.dark {
  --background: rgb(38, 38, 38);
  --foreground: rgb(251, 251, 251);

  --card: rgb(77, 77, 77);
  --card-foreground: rgb(251, 251, 251);

  --popover: rgb(77, 77, 77);
  --popover-foreground: rgb(251, 251, 251);

  --primary: rgb(235, 235, 235);
  --primary-foreground: rgb(77, 77, 77);

  --secondary: rgb(69, 69, 69);
  --secondary-foreground: rgb(251, 251, 251);

  --muted: rgb(69, 69, 69);
  --muted-foreground: rgb(180, 180, 180);

  --accent: rgb(69, 69, 69);
  --accent-foreground: rgb(251, 251, 251);

  --destructive: rgb(200, 70, 50);

  --border: rgba(255, 255, 255, 0.1);
  --input: rgba(255, 255, 255, 0.15);
  --ring: rgb(142, 142, 142);

  --chart-1: rgb(70, 130, 180);
  --chart-2: rgb(0, 206, 209);
  --chart-3: rgb(255, 200, 0);
  --chart-4: rgb(138, 43, 226);
  --chart-5: rgb(255, 99, 71);

  --sidebar: rgb(77, 77, 77);
  --sidebar-foreground: rgb(251, 251, 251);

  --sidebar-primary: rgb(70, 130, 180);
  --sidebar-primary-foreground: rgb(251, 251, 251);

  --sidebar-accent: rgb(69, 69, 69);
  --sidebar-accent-foreground: rgb(251, 251, 251);

  --sidebar-border: rgba(255, 255, 255, 0.1);
  --sidebar-ring: rgb(142, 142, 142);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    font-family: 'Roboto', sans-serif;
  }
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }

  /* Hide scrollbar */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
